html, body {
    width:100%;
    height:100%;
    overflow:hidden;
    background:#0d1117;
    margin: 0;
}

#titleBanner {
    position: absolute;
    font-family: 'Marcellus', serif;
    color: #ffffff;
    max-width: 500px;
    margin: 0 auto;
    font-size: 10.5vw;
    text-align: center;
    margin-top: 50vh;
    margin-left: 50vw;
    transform: translate(-50%, -50%);
    z-index: 42;
    pointer-events: none;
    text-shadow:  2px  2px 5px #0d1117,
                  2px -2px 5px #0d1117,
                 -2px  2px 5px #0d1117,
                 -2px -2px 5px #0d1117;
}

#titleBanner span {
    font-size: 5vw;
    margin-bottom: -3.5vw;
    display: block;
}

#titleBanner br {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 0; /* change this to whatever height you want it */
}

#titleBanner div {
    display: inline-block;
    transform:rotateY(180deg);
}

#photoContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*transform: rotateZ(5deg) scale(1.2);*/
}

.photoRow {
    position: relative;
    overflow: visible;
}

.photoBox {
    position: absolute;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    min-width: 10px;
    min-height: 10px;
}

.photoBox:hover {
    z-index: 10;
    cursor: pointer;
}

#fullscreenPhoto {
    background-repeat: no-repeat;
    background-position: center;
    background-color:#0d1117;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    cursor: zoom-out;
}

#fullscreenPhoto.open {
    display: block;
}

#fullscreenPhoto.closed {
    display: none;
}