html, body {
    width:100%;
    height:100%;
    overflow:hidden;
    background:#0d1117;
    margin: 0;
}

.bgContainer {
    width:100%;
    height:100%;
    max-height:880px;
    overflow:hidden;
    position:absolute;
}

#titleBanner {
    font-family: 'Marcellus', serif;
    color: #ffffff;
    width: 500px;
    max-width: 500px;
    
    margin: 0 auto;
}
