html, body {
    width:100%;
    height:100%;
    overflow:hidden;
    background:#0d1117;
}

.bgContainer {
    width:100%;
    height:100%;
    max-height:880px;
    overflow:hidden;
    position:absolute;
}

#titleBanner {
    font-family: 'Marcellus', serif;
}
